body {
    font-family: sans-serif;
}

p { }

img { padding: 3%;}

.intro {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
gap: 2%;
margin-bottom: 2%;
background-color: aqua;
}

h2 {
    font-size: 200%;
    text-align: center;
}

.Socialmedia {
    display: flex;
    width: 20%;
    margin: auto;
    gap: 8%;
    /* align-items: center; */
    justify-content: center;
    height: 10%;

}

.button{
    width: 100%;
    /* height: 100%; */
    padding: 5%;
    text-align: center;
    border-radius: 15%
}

.button p {white-space: nowrap;}

.button img {
    width: 60%;
    height: auto %;
    justify-content: center ;
}

.flexone img {width: 80%;}
.flexfour img {width: 75%; }
.flexfive img {width: 32%;}

.button img {
    padding: 2%;
    transition: transform 0.5s;
    margin: auto;
}

.button:hover img {transform: scale(140%);}

.flexone {background-color: rgb(247, 181, 156);}
.flextwo {background-color: rgb(250, 138, 250);}
.flexthree {background-color: rgba(239, 159, 97, 0.253);}
.flexfour {background-color: rgb(220, 254, 142);}
.flexfive {background-color: rgb(98, 98, 251);}

.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mainflextwo {
    background-color: aqua;
    border-radius: 5%;
    padding: 4%;
    margin: 2%;
    align-items: center;
}

/* MERCH PAGE */

.puddingzoom img {
    padding: 2%;
    transition: transform 0.5s;
    margin: auto;
}

.puddingzoom:hover img {transform: scale(140%);}

.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: minmax(300px,100%);
    grid-gap: 2%;
    justify-content: center;
    text-align: center;
}

details > summary {
    cursor: pointer;
    list-style: none;
  }

.tours{
    background-color: rgb(227, 124, 227);
}

.tour-flexbox {
    flex-direction: column;
    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    color: whitesmoke;
    font-size: larger;
}

.tourflexitem {
    width: 100%; 
    border-style: solid;
    border-left-width: 0ch;
    border-right-width: 0ch;
    border-top-width: 0ch;    
    /* border-top-color: whitesmoke; */
    border-bottom-color: whitesmoke;

}

#colourButton {
    background-color: rebeccapurple;
    padding: 5%;
    border-radius: 3%;
    cursor: pointer;
}

/*  Member's page */

.password {
    /* background-color: aquamarine; */
    text-align:center;
}



.members { display: none;}